.footer {
  background-color: #f8f8f8;
  height: 57px;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  bottom: 0;

  input {
    padding: 10px;
    background-color: #f8f8f8;
    height: 100%;
    border: 0;
    line-height: 1.17;
    text-align: left;
    width: 100%;
  }

  .file {
    min-width: 56px;
    height: 56px;
    background: #f8f8f8;

    &:after {
      content: '';
      background: url("../../../../../assets/images/attach.svg") no-repeat center;
      background-size: 22px;
      height: 56px;
      width: 56px;
      display: flex;
    }
  }

  .send {
    min-width: 57px;
    height: 57px;
    background: #2170fd;

    &:after {
      content: '';
      background: url("../../../../../assets/images/send.png") no-repeat center;
      background-size: 22px;
      height: 56px;
      width: 56px;
      display: flex;
    }
  }
}
